page-home {   
    .khaki{
        background-color: ghostwhite;
    }
    #main-grid{
        position: relative;
        top: 40%;
        transform: translateY(-50%);
        padding:0;
    }
    #note{
        font-family: "Satisfy" ;
        text-align: center;
        white-space: nowrap;
        
        @include media("<phone") {
            font-size: 6em;
        }

        @include media(">phone","<tablet") {
            font-size: 10em;
        }

        @include media(">tablet") {
            font-size: 15em;
        } 
    }
    #frequency {
        //font-family: "Dosis-Medium" ;
        text-align: center;
        font-family: "Satisfy" ;
        white-space: nowrap;
        
        @include media("<phone") {
            font-size: 1em;
        }

        @include media(">phone","<tablet") {
            font-size: 2em;
        }

        @include media(">tablet") {
            font-size: 3em;
        } 
    }

    #octave {
        //font-family: "Dosis-Medium" ;
        text-align: center;
        font-family: "Satisfy" ;
        white-space: nowrap;
        padding-top: 2em;

        @include media("<phone") {
            font-size: 0.5em;
        }

        @include media(">phone","<tablet") {
            font-size: 1em;
        }

        @include media(">tablet") {
            font-size: 1.5em;
        } 
    }

    #circle-fixed{
        -webkit-transform: translate(-50%, 0); 
        position: relative;
        left: 50%;
        content:'';
        display:inline-block;
        width: 3em;
        height: 3em;
        background-color: rgb(124, 12, 12);
        border-radius: 50%;
        margin-top: -60px;
    }
    
    #shadow-circle{
        position: absolute;
        left: calc(50% - 2em);
        content:'';
        width: 4em;
        height: 4em;
        background-color: rgb(225, 225, 225);
        border-radius: 50%;
        z-index: 2;
        clip-path: url(#circle);
        -webkit-clip-path:url(#circle);
   
    }
    #circle{
        position: relative;
        left: calc(50% - 2em);
        content:'';
        width: 4em;
        height: 4em;
        background-color:rgb(39, 174, 96);
        border-radius: 50%;
        z-index: 1;
        clip-path: circle(3em);

    }
    

    #volume{
        font-size: 3em;
        text-align: center;
    }
}
