page-home {   
    .khaki{
        background-color: ghostwhite;
    }
    #main-grid{
        position: relative;
        top: 40%;
        transform: translateY(-50%);
        padding:0;
    }
    #note{
        font-family: "Satisfy" ;
        text-align: center;
        white-space: nowrap;
        
        @include media("<phone") {
            font-size: 7em;
        }

        @include media(">phone","<tablet") {
            font-size: 12em;
        }

        @include media(">tablet") {
            font-size: 15em;
        } 
    }
    #frequency {
        //font-family: "Dosis-Medium" ;
        text-align: center;
        font-family: "SSP-Medium" ;
        white-space: nowrap;
        padding-bottom: 2em;

        
        @include media("<phone") {
            font-size: 2em;
        }

        @include media(">phone","<tablet") {
            font-size: 3em;
        }

        @include media(">tablet") {
            font-size: 4em;
        } 
    }

    #octave {
        //font-family: "Dosis-Medium" ;
        text-align: center;
        font-family: "SSP-Light" ;
        white-space: nowrap;
        padding-bottom: 0em;

        @include media("<phone") {
            font-size: 1em;
        }

        @include media(">phone","<tablet") {
            font-size: 2em;
        }

        @include media(">tablet") {
            font-size: 3em;
        } 
    }
    
    #circle{
        width: 4em;
        height: 4em;
        margin-top: -2em;
        margin-left: -2em;
        position: relative;
        left: calc(50%);
        content:'';
        background-color:rgb(39, 174, 96);
        border-radius: 50%;
        z-index: 1;
    }

    #assist{
        position: relative;
        text-align: center;
        //font-family: "Satisfy" ;
        font-family: "SSP-Light" ;
        padding-top: 1em;
        content: 'Tuned';        
        
        @include media("<phone") {
            font-size: 1em;
        }

        @include media(">phone","<tablet") {
            font-size: 2em;
        }

        @include media(">tablet") {
            font-size: 3em;
        } 
    }

    #volume{
        font-size: 3em;
        text-align: center;
    }
}
