<ion-app>
  <ion-content padding align-items-center>
    <ion-grid
      style="
        padding: 0;
        background-color: white;
        height: 100%;
        display: flex;
        flex-flow: column;
      "
    >
      <ion-row style="flex-grow: 1;">
      </ion-row>
      <ion-row>
	      <div id="note">A</div>
      </ion-row>
      <ion-row>
        <div id="frequency">440Hz</div>
      </ion-row>
      <ion-row>
        <div id="octave">Octave: 4</div>
      </ion-row>

      <ion-row style="flex-grow: 2;">
        <ion-col class="centered-col">
          <div id="circle"></div>
        </ion-col>
      </ion-row>
      <ion-row style="flex-grow: 2;">
        <div id="tuneComment">Make some noise</div>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>

<!--    <div id="note1">Fa</div>
-->

