<ion-content padding align-items-center>
  <ion-row>
    <h1 class="title">Kisa Sap</h1>
    <div id="circle"></div>
  </ion-row>
  <ion-row>
      <div id="frequency">440Hz</div>
  </ion-row>

  <ion-row>
    <div id="octave">Octave: 4</div>
  </ion-row>

  <ion-row>
    <div id="note1">Fa</div>
    <div id="note2">Fa</div>
    <div id="note3">Fa</div>
    <div id="note4">Fa</div>
    <div id="note5">Fa</div>
    <div id="note6">Fa</div>
    <div id="note7">Fa</div>
    <div id="saz"><img src="../assets/imgs/sazsap.svg" /></div>
  </ion-row>
</ion-content>
