.title {
  font-family: "Satisfy";
  font-size: 5em;
  text-align: center;
  width: 100%;
  color: black;
  background-color: pink;
}
.centered-col {
  text-align: center;
}

#note{
  text-align: center;
  font-family: "Satisfy";
  font-size: 7em;
  white-space: nowrap;
  color: black;
  width: 100%;
  #background-color: pink;
  display:inline-block;   

}

#frequency {
  text-align: center;
  font-family: "SourceSansPro";
  white-space: nowrap;
  color: black;
  font-size: 2em;
  width: 100%;
  #background-color: red
}


#octave {
  color: black;
  text-align: center;
  font-family: "SourceSansPro";
  padding-bottom: 0em;
  font-size: 1em;
  width: 100%;
}

#circle {
  width: 5em;
  height: 5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  background-color: black;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0em 0em 20px 20px rgba(0, 0, 0, 0.325);
  transition: all 150ms ease-in-out;
}

#tuneComment{
  color: black;
  text-align: center;
  font-family: "SourceSansPro";
  padding-bottom: 0em;
  font-size: 1em;
  width: 100%;
}

#volume {
  font-size: 3em;
  text-align: center;
}

.saz{
  max-height: 450px;
  min-height: 300px;
  min-width: 50px;
}
