<ion-app>
  <ion-content padding align-items-center>
    <ion-grid
      style="
        padding: 0;
        background-color: white;
        height: 100%;
        display: flex;
        flex-flow: column;
      "
    >
      <ion-row>
        <h1 class="title">Kisa Sap</h1>
      </ion-row>
      <ion-row>
        <div id="frequency">440Hz</div>
      </ion-row>

      <!--
      <ion-row>
        <div id="octave">Octave: 4</div>
      </ion-row>
      -->


      <ion-row style="flex-grow: 1">
        <ion-col class="centered-col">
          <!--
          <div id="outer-line"></div>
          <div id="middle-line"></div>
          <div id="center-line"></div>
          -->

          <div id="circle"></div>

          
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col style="padding-bottom: 0"> </ion-col>
        <ion-col style="padding: 0" size="2">
          <ion-row style="height: 22%"></ion-row>
          <ion-row style="height: 20%">
            <ion-col class="centered-col string-group-two">
              <p>Sol</p>
            </ion-col></ion-row
          >
          <ion-row style="height: 22%">
            <ion-col class="centered-col string-group-three">
              <p>Sol</p>
            </ion-col></ion-row
          >
          <ion-row style="height: 20%">
            <ion-col class="centered-col string-group-three">
              <p>Si</p>
            </ion-col></ion-row
          >
        </ion-col>
        <ion-col class="ion-align-self-end" style="text-align: center; padding-bottom: 0; margin-bottom: -10px;" size="4">
          <img class="saz" src="../assets/imgs/sazsap.svg"/>
        </ion-col>
        <ion-col style="padding-bottom: 0" size="2">
          <ion-row style="height: 8%"> </ion-row>
          <ion-row style="height: 22%">
            <ion-col class="centered-col string-group-one">
              <div id="note1">
                <p>Mi</p>
              </div>
            </ion-col></ion-row
          >
          <ion-row style="height: 20%">
            <ion-col class="centered-col string-group-one">
              <p>Mi</p>
            </ion-col>
          </ion-row>
          <ion-row style="height: 20%">
            <ion-col class="centered-col string-group-one">
              <p>Mi</p>
            </ion-col></ion-row
          >
          <ion-row style="height: 15%">
            <ion-col class="centered-col string-group-two">
              <p>Sol</p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col style="padding-bottom: 0"> </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>

<!--    <div id="note1">Fa</div>
-->
